
:root {
  --app-height: 100%;
}

html,
body {
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
}

body {
  margin: 0;
  padding: 0;
  background-color: #EEE;
  color: #333;
  overflow: hidden;
  transition: all 500ms;
  font-family: "Valkyrie";
  font-size: 16px;
/*  width: 100%;*/
/*  min-height: 100vh;*/
/*  min-height: -webkit-fill-available;*/
}

* {
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

button {
  -webkit-appearance: none;
  outline: none;
  background-color: transparent;
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1 {
  font-family: "Valkyrie Caps";
  font-size: 20px;
}



@font-face {
  font-family: "Valkyrie";
  src: url("fonts/valkyrie-regular.woff") format('woff');
}
@font-face {
  font-family: "Valkyrie";
  src: url("fonts/valkyrie-regular-italic.woff") format('woff');
  font-style: italic;
}
@font-face {
  font-family: "Valkyrie";
  src: url("fonts/valkyrie-bold.woff") format('woff');
  font-weight: bold;
}
@font-face {
  font-family: "Valkyrie";
  src: url("fonts/valkyrie-bold-italic.woff") format('woff');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Valkyrie Caps";
  src: url("fonts/valkyrie-caps-regular.woff") format('woff');
}
@font-face {
  font-family: "Valkyrie Caps";
  src: url("fonts/valkyrie-caps-bold.woff") format('woff');
  font-weight: bold;
}



@-webkit-keyframes fade-in {
    0% { opacity: 0; }
  100% { opacity: 1; }
}
.fade-in {
  animation: fade-in 1000ms 1;
}

body.show-alb .alb { display: flex; }
body.show-alb .ss  { display: none; }
body.show-ss  .alb { display: none; }
body.show-ss  .ss  { display: flex; }
body.show-ss {
  background-color: #333;
  color: #EEE;
}



/*
 * ALBUM
 */

.alb {
  width: 100%;
  height: 100%;
  padding: 2px;
  overflow: hidden;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.alb-box {
  width: 20%;
  height: 20%;
  padding: 2px;
}

.alb-box-text {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.alb-box-text h1 {
  margin: 0;
  font-size: 18px;
}
.alb-box-text p {
  margin: 0;
}
.alb-box-text a {
  border: 1px solid black;
  padding: 3px 6px;
  margin-top: 18px;
}

.alb-box img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/*
 * SLIDESHOW
 */

.ss {
/*  border: 10px solid lightblue;*/
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

.ss-main {
/*  border: 10px solid red;*/
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 50px;
  padding-bottom: 60px;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

.ss-main-img {
  display: block;
/*  border: 1px solid lime;*/
  max-width: 100%;
  max-height: 100%;
  box-shadow: 0 0 40px 0px rgba(0,0,0,0.3);
}

.ss-prev-con,
.ss-next-con {
  display: none;
  position: fixed;
  bottom: 100px;
  top: 0;
  width: 50%;
}
.ss-prev-con {
  left: 0;
}
.ss-next-con {
  right: 0;
}

.ss-controls-con {
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 100px;
}
.ss-controls {
  bottom: -45px;
  left: 0;
  right: 0;
  position: absolute;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: all 200ms;
}
.ss-controls-con:hover .ss-controls, .ss-controls.open {
  bottom: 0px;
}

@media (pointer: coarse) {
  .ss-controls {
    bottom: 0px;
  }
}

.ss-controls-buttons {
  border-top: 1px solid #666;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ss-controls-button {
  height: 100%;
  display: block;
  color: inherit;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  min-width: 44px;
}
.ss-controls-button:hover {
  background-color: #CCC;
  color: #666;
}

.ss-controls-icon {
  display: block;
  width: 24px;
}

.ss-controls.playing-no .button-pause {
  display: none;
}
.ss-controls.playing-yes .button-play {
  display: none;
}

.ss-progress {
  flex: 1;
  /*border: 1px solid lime;*/
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  justify-content: flex-start;
}

.ss-progress-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid #666;
  border-right: none;
  border-bottom: none;
  cursor: pointer;
/*  background-color: #444;*/
  color: #BBB;
  transition: all 200ms;
  overflow: hidden;
  min-width: 5px;
  font-size: 12px;
}
.ss-progress-cell:last-child {
  border-right: 1px solid #666;
}
.ss-progress-cell:hover {
  background-color: #CCC;
  color: #666;
  min-width: 30px;
  font-size: 14px;
}
.ss-progress-cell:focus:not(:hover):not(.active) {
  min-width: unset;
}
.ss-progress-cell.active {
  background-color: #EEE;
  border-color: #EEE;
  color: #666;
  min-width: 30px;
  font-size: 14px;
}



/*
 * MEDIUM
 */

@media (max-width:1199px) {
  .alb-box {
    width: 33.3333%;
    height: 33.3333%;
  }
  .alb-box:not(.m) {
    display: none;
  }
  .ss-progress-cell {
    font-size: 8px;
  }
}

@media (max-width:899px) {
  .ss-progress-cell {
    font-size: 6px;
  }
}

/*
 * SMALL
 */

@media (max-width:749px) {
  .alb-box.center {
    width: 100%;
    height: 50%;
  }
  .alb-box.s {
    display: block;
  }
  .alb-box {
    width: 33.3333%;
    height: 25%;
  }
  .alb-box:not(.s) {
    display: none;
  }

  .ss-main {
    padding: 10px;
    padding-bottom: 60px;
  }

  .ss-prev-con,
  .ss-next-con {
    display: block;
    bottom: 50px;
  }

  .ss-controls-con {
    height: 50px;
  }
  .ss-controls {
    height: 49px;
    position: static;
    flex-direction: column-reverse;
  }
  .ss-controls-buttons {
    width: 100%;
    border-top: none;
  }
  .ss-controls-button {
    flex: 1;
  }
  .ss-progress {
    height: 1px;
    overflow: hidden;
    width: 100%;
    flex: none;
  }
}
